<%= form_for post, html: {
  class: "post-form"
  } do |f| %>
  <div class="form-field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <%= f.submit "Post" %>
<% end %>
